
html,body,div{
	margin:0px;
	padding:0px;
}
body{
	background:#dcd9d8;
}

header{
	background-color:#a7fffc;
	height:200px;
	top:0%;
}
h1{
	
	margin-top:-12%;
	margin-left:33%;
}
#menufixe{
  position: fixed;
  right: 50px;
  top: 50%;
  width: 8px;
}

li{
	list-style-type:none;
}

#photogauche{
	margin-left:0%;
	top:0%
}

h2{
	margin-left:40%;
}

td {
    border: 2px solid black;
}

table{
    border-collapse: collapse;
	margin-left:25px;
	margin-top:10px
}